<template>
    <div>
        <div class="card text-center">
            <div class="card-header">
                {{stock.name}}
                <small>(Price: {{stock.value}})</small>
            </div>
            <div class="card-body">
                <div class="card-title">
                <input class="form-control card-text" type="number" placeholder="Quantity" v-model="quantity">
                </div>
                <button class="btn btn-success"
                        @click="buyStock"
                        style="float: right"
                        :disabled="disabledBuyingButton">Buy</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Stock } from '../../model/Stock';
import { Action, Getter } from 'vuex-class';
import { StockOrder } from '../../model/StockOrder';

const namespace: string = 'stocks'

@Component
export default class StockComponent extends Vue {
    quantity: number | null = null;
    
    @Action('buyStocks', { namespace }) buyStocks: any;
    @Getter('funds') funds!: number;

    @Prop()
    private stock!: Stock

    buyStock() {
        if (this.quantity) {
            this.buyStocks(new StockOrder(this.stock, this.quantity))
        }
        
    }

    get disabledBuyingButton() {
        if (this.quantity) {
            return this.quantity <= 0 || Number(this.quantity * this.stock.value) > Number(this.funds);
        } else {
            return true;
        }
    }
}
</script>

<style scoped>

</style>
