<template>
    <div>
        <app-portfolio class="stock-grid" v-for="portfolio in portfolios" :portfolio="portfolio"></app-portfolio>
  </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator';
import StockComponent from './Stock.vue';
import { Stock } from '../../model/Stock';
import { Action, Getter } from 'vuex-class';
import { StocksState } from '@/store/stocks/types';
import PortfolioComponent from '../portfolio/Portfolio.vue';
import { Portfolio } from '../../model/Portfolio';

const namespace: string = 'portfolios';

@Component({
    components: {
        appPortfolio: PortfolioComponent
    }
})
export default class PortfolioListComponent extends Vue {

    @Getter('portfolios', { namespace }) stockPortfolios!: Portfolio[];

    get portfolios() {
        return this.stockPortfolios;
    }
}
</script>

<style scoped>
    .stock-grid {
        display: inline-block;
        width: 31%;
        margin: 10px 10px;
    }
</style>