<template>
  <div class="home">
    <app-home/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HomeComponent from '@/components/Home.vue'; // @ is an alias to /src

@Component({
  components: {
    appHome: HomeComponent,
  },
})
export default class Home extends Vue {}
</script>
