<template>
    <app-login/>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import LoginComponent from '../components/Login.vue';

@Component({
    components: {
        appLogin: LoginComponent
    }
})
export default class LoginView extends Vue {
    
}
</script>

<style>

</style>
