<template>
    <form @submit.prevent="signIn">
        <div class="container">
            <div class="row title">
                <span class="title-text">Log in</span>
            </div>
            <div class="row">
                <input class="form-control card-text" 
                       type="text" 
                       v-model="credentials.username" 
                       placeholder="Username">
            </div>
            <div class="row">
                <input class="form-control card-text" 
                       type="password" 
                       v-model="credentials.password" 
                       placeholder="Password">
            </div>
            <div class="row button-bar">
                <button class="button btn btn-primary" type="submit">Login</button>
            </div>
        
        
        </div>
    </form>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AuthCredential from '@/model/AuthCredential';
import { Action } from 'vuex-class';

const namespace: string = 'authentication';

@Component
export default class LoginComponent extends Vue {
    credentials: AuthCredential = new AuthCredential('','');

    @Action('login', { namespace }) login: any;

    public signIn() {
        this.login(this.credentials);
    }

}
</script>

<style scoped>
    input {
        width: 75%;
        margin: 0 auto; 
    }

    .container {
        width: 30%;
        margin: 0 auto;
        box-shadow: 1px 1px 3px #333;
        padding: 10px 0;
        border-radius: 10px;
    }

    .row {
        padding: 5px 0;
    }

    .title {
        padding-bottom: 15px;
    }

    .title .title-text {
        font-size: 24px;
        margin: 0 auto;
    }

    .button {
        margin: 0 auto;
    }

    .button-bar {
        padding-top: 15px;
    }
    
</style>